@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;1,400&family=Overpass:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Overpass, Arial;
    font-weight: 300;
    color: #696969;
}

h1, h2 {
    font-family: Chivo, Arial;
    font-weight: 800;
    color: #696969;    
}

/* Navigation menu styling */

#logo{
    background-color: #88a691;
    
}

#logo img {
    vertical-align: middle;
}

#menu {
    font-size: 120%;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: #edeff0;
}

#menu a:hover {
    border-bottom: 1px solid #edeff0;
}

/* Hero image styling */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    object-fit: scale-down;
    background: url(../images/Photo\ by\ Igor\ Starkov\ on\ Unsplash.jpg) no-repeat center center;
}
