@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;1,400&family=Overpass:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Overpass, Arial;
    font-weight: 300;
    color: #696969;
}

h1, h2 {
    font-family: Chivo, Arial;
    font-weight: 800;
    color: #696969;    
}

/* Navigation menu styling */

#logo{
    background-color: #88a691;
}

#logo img {
    vertical-align: middle;
}

#menu {
    font-size: 120%;
    padding: 10px;;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: #edeff0;
}

#menu a:hover {
    border-bottom: 1px solid #edeff0;
}

/* Hero image styling */

#hero {
 height: 500px;
 width: 100%;
 background-image: url(../images/Photo\ by\ Igor\ Starkov\ on\ Unsplash.jpg);
 background-position: center;
 background-repeat: no-repeat;
 position: relative;
 background-size: cover;
 background-position: bottom;
 vertical-align: 10px;
}

/* Sections formatting and styling */
#social-banner {
    background-color: #d3bba6;
    height: 50px;
}

.social-icons {
    text-align: left;
}

.social-icons > li {
    display: inline;
}

.social-icons i {
    font-size: 150%;
    margin: 1%;
    color: #EFEFF0;
}

#newsletter-banner {
    height: 40px;
    width: 100%;
    background-color: #A49C9C;
    text-align: center;
    padding-top: 20px;
}
#opening-text {
    height: 350px;
    width: 50%;
    background-color: #D3BBA6;
    float: left;
    padding: 25px;
    box-sizing: border-box;
    
}
#opening-image {
    background-image: url(../images/rsz_photo_by_mike_petrucci_on_unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 50%;;
    float: right;
}
#coffee-text {
    height: 300px;
    width: 25%;
    background-color: #88A691;
    float: left;
    padding: 25px;
    box-sizing: border-box;
}
#coffee-image {
    background-image: url(../images/Photo\ by\ Nathan\ Dumlao\ on\ Unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 25%;
    float: left;

}
#food-text {
    height: 300px;
    width: 25%;
    background-color: #88A691;
    float: left;
    padding: 25px;
    box-sizing: border-box;
}
#food-image {
    background-image: url(../images/Photo\ by\ American\ Heritage\ Chocolate\ on\ Unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 25%;
    float: left;

}
#events-image {
    background-image: url(../images/Photo\ by\ Marcus\ Loke\ on\ Unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 50%;
    float: left;

}
#events-text {
    height: 350px;
    width: 50%;
    background-color: #D3BBA6;
    float: right;
    padding: 25px;
    box-sizing: border-box;
}
#about-text {
    height: 380px;
    width: 50%;
    background-color: #88a691;
    float: left;
    padding: 25px;
    box-sizing: border-box;
}
#about-image {
    background-image: url(../images/Photo\ by\ Camila\ Cordeiro\ on\ Unsplash\ RESIZED.jpg);
    background-size: cover;
    background-position: center;
    height: 380px;
    width: 50%;
    float: right;
}
#signup {
    height: 300px;
    width: 100%;
    background-color: #D3BBA6;
    float: left;
    padding: 25px;
    box-sizing: border-box;
}
#footer {
    height: 50px;
    width: 100%;
    background-color: #A49C9C;
    float: left;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
    #opening-text {
        height: 350px;
        width: 100%;
        background-color: #D3BBA6;
        margin: 0 auto;
        text-align: center;
                flex-direction: column;

    }
    #opening-image {
        background-image: url(../images/rsz_photo_by_mike_petrucci_on_unsplash.jpg);
        background-size: cover;
        background-position: center;
        height: 350px;
        width: 100%;
        margin: 0 auto;
    }    
    #coffee-text {
        height: 300px;
        width: 50%;
        background-color: #88A691;
        background-position: center;
        padding: 25px;
        box-sizing: border-box;
    }
    #coffee-image {
        background-image: url(../images/Photo\ by\ Nathan\ Dumlao\ on\ Unsplash.jpg);
        background-size: cover;
        background-position: center;
        height: 300px;
        width: 50%;
    
    }
    #food-text {
        height: 300px;
        width: 50%;
        background-color: #88A691;
        background-position: center;
        padding: 25px;
        box-sizing: border-box;
    }
    #food-image {
        background-image: url(../images/Photo\ by\ American\ Heritage\ Chocolate\ on\ Unsplash.jpg);
        background-size: cover;
        background-position: center;
        flex-direction: column;
        height: 300px;
        width: 50%;
    }
    #events-image {
        background-image: url(../images/Photo\ by\ Marcus\ Loke\ on\ Unsplash.jpg);
        background-size: cover;
        background-position: center;
        height: 350px;
        width: 100%;    
    }
    #events-text {
        height: 350px;
        width: 100%;
        background-color: #D3BBA6;
        padding: 25px;
        box-sizing: border-box;
    }
    #about-image {
        background-image: url(../images/Photo\ by\ Camila\ Cordeiro\ on\ Unsplash\ RESIZED.jpg);
        background-size: cover;
        background-position: center;
        height: 380px;
        width: 100%;
    }
    #about-text {
        height: 380px;
        width: 100%;
        background-color: #88a691;
        padding: 25px;
        box-sizing: border-box;
    }
}
